/* Variables */
html {
  --padding: clamp(1rem, 1.53vw + 0.694rem, 2rem);
  --padding-s: clamp(0.1rem, 0.612vw + -0.022rem, 0.5rem);
  --border-radius: 10px;
  --box-shadow: rgba(175, 180, 185, 0.2) 0px 5px 20px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(45, 45, 45);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: aliceblue;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background-color: transparent;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  box-shadow: var(--box-shadow);
}

#btnAdd,
#create-book {
  background-color: rgb(210, 234, 243);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  border: 1px solid rgb(210, 234, 243);
}

#btnAdd:hover,
#create-book:hover {
  background-color: lightblue;
  border: 1px solid rgb(194, 194, 194);
}

/* Main */

main {
  padding: var(--padding);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: var(--padding);
  width: 100%;
}

.card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--padding-s);
  background-color: lightblue;
  padding: var(--padding);
  height: 300px;
  width: 220px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.btn-delete,
.form-wrapper button:first-child {
  position: absolute;
  top: 20px;
  right: 20px;
  min-width: 20px;
  min-height: 20px;
}

.btn-delete:hover,
.form-wrapper button:first-child:hover {
  background-color: rgb(189, 229, 242);
  border-radius: 20%;
}

.card-wrapper div {
  display: flex;
  gap: 8px;
}

.card-wrapper div input {
  order: 1;
}

/* Modal */

::backdrop {
  background-color: black;
  opacity: 0.5;
}

dialog {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 38vh;
  width: 30vh;
  border: none !important;
  border-radius: var(--border-radius);
}

.form-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  gap: var(--padding);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
}

.form-wrapper input {
  height: 38px;
  border: none;
  border-bottom: 1px solid rgb(171, 176, 178);
  padding-left: 8px;
}

.form-wrapper input:not(:last-child),
.form-wrapper button {
  margin-bottom: 15px;
}

.form-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-s);
}

#create-book {
  margin-top: 25px;
}

.form-wrapper button:first-child:hover {
  background-color: rgb(233, 233, 233);
}
